.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .link-col{
    color: black;
  }


  .bg-change{
    background: #895129;
  }

  .contact-bg {
background: #3D2412;
  }

  .photos-bg{
    background: #663C1F;
  }